<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>-->
  </configSections>
  <appSettings>
    <add key="IsDebugEnabled" value="true"/>
    <add key="IsErrorEnabled" value="true"/>
    <add key="IsInfoEnabled" value="true"/>
    <add key="IsWarnEnabled" value="true"/>
  </appSettings>
  <!--<log4net>
    --><!--Error--><!--
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="Logs\" />
      <encoding value="utf-8"/>
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\dd'_error.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%nError日志:%daten %message" />
      </layout>
    </appender>
    --><!--Info--><!--
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="Logs\" />
      <encoding value="utf-8"/>
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\dd'_info.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%nInfo日志:%daten %message" />
      </layout>
    </appender>
    --><!--Debug--><!--
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="Logs\" />
      <encoding value="utf-8"/>
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\dd'_debug.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%nDebug日志:%daten %message" />
      </layout>
    </appender>
    --><!--Warn--><!--
    <appender name="warnAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="Logs\" />
      <encoding value="utf-8"/>
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\dd'_warn.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%nWarn日志:%daten %message" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="errorAppender" />
      <appender-ref ref="infoAppender" />
      <appender-ref ref="debugAppender" />
      <appender-ref ref="warnAppender" />
    </root>
    <logger name="log4net">
    <appender-ref ref="warnAppender" />
    <appender-ref ref="errorAppender" />
    <appender-ref ref="infoAppender" />
    <appender-ref ref="debugAppender" />
  </logger>
  </log4net>-->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
